.venv/
build/
dist/

main.build/
main.dist/
main.onefile-build/

toucan_plot.build/
toucan_plot.dist/
toucan_plot.onefile-build/

toucan-plot.exe

**/__pycache__/
**/*egg-info/
**/*.csv
**/*.smv
**/*.blf
**/*.trc
**/*.dbc